.idea
.gradle
/out
/build
/target
/node_modules
pet-adoption-api/caches/
pet-adoption-api/daemon/
pet-adoption-api/native/
pet-adoption-api/wrapper/
pet-adoption-api/.tmp/
pet-adoption-api/uploads/
**/.DS_Store

.env.gcp
.editorconfig
**/Makefile
